@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    /* background: #000; */
}



.container{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #A2C8FE , #a2defb);
    border-radius: 10px;
    box-shadow: 7px 7px 15px  rgb(115, 149, 133);
}

/* ~~~~~ left side section ~~~~~ */
.left{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-right: 1px solid black;
    color: #fff;
}
.left h3{
    font-family: 'Kanit', sans-serif;
    padding: 0 10px;
}
.app-form-group{
    font-size: 2rem;
    padding: 15px 0 0 0;
}

.app-form-group input{
    border: none;
    height: 50px;
    margin: 0 10px;
    font-size: 1.2rem;
    font-family: 'Gluten', cursive;
    border-radius: 10px;
    text-align: center;
}

.app-form-group button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    width: 14rem;
    height: 2rem;
    font-size: 1.3rem;
    background: #fff;
}

/* ~~~~~ right side section ~~~~~ */
.right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex: 1;
}

.right .app-form-group p{
    margin: 10% 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    /* color: #fff; */
}

